<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html
  xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en-US"
  lang="en-US"
><!--<![endif]-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <title>Add Listing | BCC</title>

    <meta name="author" content="themesflat.com" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />

    <!-- dropzone -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/dropzone.css" />

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />

    <!-- Favicon and touch icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="/icon/apple-touch-icon-48-precomposed.png"
      rel="apple-touch-icon-precomposed"
      sizes="48x48"
    />
    <link
      href="/icon/apple-touch-icon-32-precomposed.png"
      rel="apple-touch-icon-precomposed"
    />
    <link href="/icon/favicon.png" rel="shortcut icon" />
  </head>
  <body class="header_sticky">
    <!-- Boxed -->
    <div class="boxed">
      <!-- Header -->
      <header id="header" class="header clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div id="log" class="log float-left">
                <a href="#" rel="home">
                  <img
                    src="/images/newlogo.png"
                    alt="image"
                    width="160px"
                    height="160px"
                  />
                </a>
              </div>
              <!-- /.logo -->
              <div class="btn-menu">
                <span></span>
              </div>
              <!-- //mobile menu button -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
              <div class="nav-wrap">
                <nav id="mainnav" class="mainnav float-left">
                  <ul class="menu">
                    <li class="home">
                      <a href="#">Home</a>
                    </li>
                    <!-- <li class="home">
                      <a href="/logOut">log Out</a>
                    </li> -->
                    <li>
                      <a href="/listingfull">Listing</a>
                      <!-- <ul class="submenu"> 
                                        <li><a href="listing-grid.html">Listing Grid</a>
                                        </li>
                                        <li><a href="listing-list.html">Listing List</a>
                                        </li>
                                         <li><a href="listing-full.html">Listing Full Width</a>
                                        </li>
                                         <li><a href="listing-map1.html">Listing Map V1</a>
                                        </li>
                                         <li><a href="listing-map2.html">Listing Map V2</a>
                                        </li>
                                         <li><a href="listing-single.html">Listing Single</a>
                                        </li>
                                    </ul>/.submenu -->
                    </li>
                    <li>
                      <a href="/blog">Blog</a>

                      <!-- /.submenu -->
                    </li>
                    <li>
                      <a href="/page-pricing">Pricing</a>
                    </li>
                    <li>
                      <a href="/page-user/<%=email%>" id="username"
                        ><i class="fa fa-user"></i>
                        username
                      </a>
                      <ul class="submenu" style="border-radius: 10px">
                        <li>
                          <a href="/changePasswordForLogin/<%=email%>"
                            >Change Password</a
                          >
                        </li>
                        <li>
                          <a href="/renewSubscription/<%=email%>">Renew</a>
                        </li>
                        <li><a href="/logOut">Log Out</a></li>
                      </ul>
                    </li>
                    <!-- <li>
                      <a data-toggle="modal" href="#popup_login"
                        ><i class="fa fa-user"></i> Sign in</a
                      >
                    </li>
                    <li>
                      <a data-toggle="modal" href="#popup_register"
                        ><i class="fa fa-user-plus"></i> Register</a
                      >
                    </li> -->
                  </ul>
                  <!-- /.menu -->
                </nav>
                <!-- /.mainnav -->

                <div class="button-addlist float-right">
                  <button
                    type="submit"
                    class="flat-button"
                    onclick="gotoaddlisting()"
                  >
                    Add Listing
                  </button>
                </div>
              </div>
              <!-- /.nav-wrap -->
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
        </div>
      </header>
      <!-- /.header -->

      <!-- Page title -->
      <div class="page-title parallax parallax1">
        <div class="section-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title-heading">
                <h1 class="title">Add Listing</h1>
              </div>
              <!-- /.page-title-captions -->
              <div class="breadcrumbs">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li>-</li>
                  <li><a href="index.html">Page</a></li>
                  <li>-</li>
                  <li>Add Listing</li>
                </ul>
              </div>
              <!-- /.breadcrumbs -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.page-title -->
      <div class="leftlisting" id="listingLeft">Listing left : {}</div>

      <section class="flat-row flat-note bg-red">
        <div class="container">
          <!-- <div class="row">
            <div class="col-lg-6">
              <p>You need to Log in before performing this operation</p>
            </div>
            <div class="col-lg-6">
              <div class="note-button float-right">
                <a data-toggle="modal" href="#popup_login" class="flat-button"
                  >LOG IN</a
                >
              </div>
            </div>
          </div> -->
        </div>
      </section>

      <section class="flat-row page-addlisting">
        <div class="container">
          <div class="add-filter">
            <div class="row">
              <div class="col-lg-2">
                <h5 class="title-list">Basic Listing</h5>
              </div>
              <div class="col-lg-10 widget-form">
                <form id="myForm" class="filter-form form-addlist">
                  <p class="input-info">
                    <label class="nhan">Business Name*</label>
                    <input type="text" name="businessName" id="title" />
                  </p>
                  <p class="input-info">
                    <label class="nhan">Address*</label>
                    <input type="text" name="address" id="title" />
                  </p>
                  <p class="input-info">
                    <label class="nhan">Zip Code*</label>
                    <input type="number" name="zipCode" id="title" />
                  </p>
                  <p class="input-info">
                    <label class="nhan">Business Description*</label>
                    <textarea
                      class=""
                      tabindex="4"
                      name="description"
                    ></textarea>
                  </p>
                  <p class="input-info icon">
                    <label class="nhan">Categories*</label>

                    <select
                      name="category"
                      class="dropdown_sort"
                      id="levelone"
                      onchange="ShowSubFields()"
                    >
                      <option value="default">Select Business Category</option>
                      <option value="Auto">Autos --&gt;</option>
                      <option value="Business to Business">
                        Business to Business --&gt;
                      </option>
                      <option value="Community">Community --&gt;</option>
                      <option value="Education">Education --&gt;</option>
                      <option value="Electronics">Electronics --&gt;</option>
                      <option value="Entertainment and Arts">
                        Entertainment &amp; Arts --&gt;
                      </option>
                      <option value="Food and Dining">
                        Food &amp; Dining --&gt;
                      </option>
                      <option value="Health and Beauty">
                        Health &amp; Beauty --&gt;
                      </option>
                      <option value="Home and Garden">
                        Home &amp; Garden --&gt;
                      </option>
                      <option value="Legal and Financial">
                        Legal &amp; Financial --&gt;
                      </option>
                      <option value="Professional Services">
                        Professional Services --&gt;
                      </option>
                      <option value="Real Estate">Real Estate --&gt;</option>
                      <option value="Recreation">Recreation --&gt;</option>
                      <option value="Retail Shopping">
                        Retail Shopping --&gt;
                      </option>
                      <option value="Travel and Lodging">
                        Travel &amp; Lodging --&gt;
                      </option>
                    </select>
                    <i class="fa fa-angle-down"></i>
                  </p>

                  <p
                    class="input-info icon"
                    id="subField"
                    style="display: none"
                  >
                    <label class="nhan">Categories</label>

                    <select
                      name="subCatagory"
                      class="category"
                      id="leveltwo"
                      onchange="ShowSubSubFields()"
                    >
                      <option value="">Select Business Category</option>
                    </select>
                    <i class="fa fa-angle-down"></i>
                  </p>

                  <p
                    class="input-info icon"
                    id="subSubField"
                    style="display: none"
                    onchange="AddSubSubFields()"
                  >
                    <!-- <p class="input-info icon" id="subSubField" style="display: none;" > -->
                    <label class="nhan">Categories</label>

                    <select
                      name="subSubCatagory"
                      class="category"
                      id="levelthree"
                    >
                      <option value="">Select Business Category</option>
                    </select>
                    <i class="fa fa-angle-down"></i>
                  </p>
                  <div class="info-contact">
                    <div class="row">
                      <div class="col-lg-10 profile">
                        <label class="nhan">Contact Number*</label>
                        <div class="form-contact row">
                          <div class="col-lg-4">
                            <p class="input-info">
                              <input
                                type="number"
                                name="mobilenumber"
                                placeholder="Phone*"
                                required="true"
                              />
                            </p>
                          </div>
                          <div class="col-lg-4">
                            <p class="input-info">
                              <input
                                type="email"
                                name="businessEmail"
                                placeholder="Email"
                                required=""
                              />
                            </p>
                          </div>
                          <div class="col-lg-4">
                            <p class="input-info">
                              <input
                                type="text"
                                name="website"
                                placeholder="Website"
                                required=""
                              />
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="add-images">
                  <label class="nhan">Gallery</label>
                  <form
                    action="/file-upload"
                    class="dropzone"
                    id="my-awesome-dropzone"
                  ></form>
                </div>
              </div>
            </div>
          </div>

          <div class="wrap-accadion">
            <div class="row">
              <div class="col-lg-2">
                <!-- <h5 class="title-list">Pricing</h5> -->
              </div>
              <div class="col-lg-10">
                <div class="flat-accordion">
                  <div class="flat-toggle"></div>
                  <!-- /toggle -->
                  <div class="flat-toggle"></div>
                  <!-- /toggle -->
                </div>
                <!-- /.flat-accordion -->
                <div class="button-addlisting">
                  <button
                    id="addListingbutton"
                    type="submit"
                    class="flat-button"
                  >
                    Add Listing
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer class="footer footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="widget widget_text widget_info">
                <h5 class="widget-title">About Us</h5>
                <div class="textwidget">
                  <p>
                    <p>The BCC unit of the Brahman Organization of India is one of the largest non-profit platforms in India, with the most listing categories. We work in practically every industry, therefore we can make a difference in any! We welcome
                      Brahmins from all industries to join our network of enterprises. Automobiles, education, electronics, business-to-business services such as advertising, are just a few examples and a variety of other industries.</p>Lorem ipsum dolor sit amet, luctus pos semper felis
                    consectetuer hendrerit, im varius enim, tellus tincidunt
                    tellus est sed
                  </p>
                </div>
                <!-- /.textwidget -->
                <ul class="flat-infomation">
                  <li>
                    <i class="fa fa-map-marker"></i>PO Box 16122 Collins Street
                    West Vic-toria 8007 Australia
                  </li>
                  <li><i class="fa fa-phone"></i>+61 3 8376 6284</li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-3">
              <div id="nav_menu-2" class="widget widget_nav_menu">
                <h5 class="widget-title">Privacy Policy</h5>
                <div class="wrap-menufooter clearfix">
                  <ul class="menu one-half">
                    <li class="menu-item"><a href="#">About Us</a></li>
                    <!-- <li class="menu-item"><a href="#">Advertise</a></li> -->
                    <li class="menu-item">
                      <a href="#">Terms & Conditions</a>
                    </li>
                    <li class="menu-item"><a href="#">Privacy Policy</a></li>
                    <li class="menu-item"><a href="#">FAQs</a></li>
                    <li class="menu-item"><a href="#">Blog</a></li>
                  </ul>
                  <ul class="menu one-half">
                    <!-- <li class="menu-item"><a href="#">Method Payment</a></li>
                                    <li class="menu-item"><a href="#">Maintenance</a></li>
                                    <li class="menu-item"><a href="#">Corporate Client</a></li>
                                    <li class="menu-item"><a href="#">LearnPress</a></li>
                                    <li class="menu-item"><a href="#">Release Status</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-3">
              <div class="widget widget_listing">
                <h5 class="widget-title">Popular Listing</h5>
                <ul>
                  <li class="clearfix">
                    <div class="featured">
                      <a href="#" class="effect"
                        ><img src="/images/flickr/7.jpg" alt="image"
                      /></a>
                    </div>
                    <div class="info-listing">
                      <h6><a href="#">Lincoln Square Steak</a></h6>
                      <div class="start-review">
                        <span class="flat-start">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </span>
                        <a href="#" class="review">12 Reviews</a>
                      </div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="featured">
                      <a href="#" class="effect"
                        ><img src="/images/flickr/8.jpg" alt="image"
                      /></a>
                    </div>
                    <div class="info-listing">
                      <h6><a href="#">Top 10 French coffe </a></h6>
                      <div class="start-review">
                        <span class="flat-start">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </span>
                        <a href="#" class="review">7 Reviews</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-3">
              <div class="widget widget_contact">
                <h5 class="widget-title">Gallery</h5>
                <ul class="clearfix" id="footerGallery"></ul>
              </div>
            </div>
            <!-- /.col-md-3 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
          <div class="bottom">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="copyright">
                  <p>
                    Copyright © 2021. Developed by Evren Global Solutions. All
                    Rights Reserved.
                  </p>
                </div>
              </div>
              <!-- /.col-md-12 -->
              <div class="col-md-6 col-sm-6">
                <div class="social-links float-right">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="modal fade flat-popupform" id="popup_login">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body text-center clearfix">
              <form class="form-login form-listing" action="#" method="post">
                <h3 class="title-formlogin">Log in</h3>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Your Name*"
                    name="email"
                    required="required" /><i class="fa fa-user"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Password*"
                    name="password"
                    required="required" /><i class="fa fa-lock"></i
                ></span>
                <div class="flat-fogot clearfix">
                  <label class="float-left">
                    <span class="input-check">
                      <input
                        type="checkbox"
                        name="check"
                        value="0"
                        checked=""
                      />
                      <span class="remember">Remember me</span>
                    </span>
                  </label>
                  <label class="float-right link-register">
                    <a href="#">Lost your password?</a>
                  </label>
                </div>
                <span class="wrap-button">
                  <button
                    type="button"
                    id="login-button"
                    class="login-btn effect-button"
                    title="log in"
                  >
                    LOG IN
                  </button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade flat-popupform" id="popup_register">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body text-center clearfix">
              <form class="form-login form-listing" action="#" method="post">
                <h3 class="title-formlogin">
                  Sign-Up for Brahman Chamber of Commerce
                </h3>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Your Name*"
                    name="name"
                    required="required" /><i class="fa fa-user"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="E-mail*"
                    name="email"
                    required="required" /><i class="fa fa-envelope-o"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="number"
                    placeholder="Mobile Number*"
                    name="mobile"
                    required="required" /><i class="fa fa-phone"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Company Name*"
                    name="company"
                    required="required" /><i class="fa fa-building"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Password*"
                    name="password"
                    required="required" /><i class="fa fa-lock"></i
                ></span>
                <span class="input-login icon-form"
                  ><input
                    type="text"
                    placeholder="Confirm Password*"
                    name="password"
                    required="required" /><i class="fa fa-lock"></i
                ></span>
                <div class="wrap-button signup">
                  <button
                    type="button"
                    id="logup-button"
                    class="login-btn effect-button"
                    title="log in"
                  >
                    PAY & REGISTER
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Go Top -->
      <a class="go-top effect-button">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>

    <!-- Javascript -->
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/tether.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.easing.js"></script>
    <script src="/javascript/jquery-waypoints.js"></script>
    <script src="/javascript/dropzone.js"></script>
    <script src="/javascript/jquery.cookie.js"></script>
    <script src="/javascript/parallax.js"></script>
    <script src="/javascript/smoothscroll.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/arrays.js"></script>
    <script>
      // function addListing() {
      //   // console.log("addlisting clic  ked");
      //   // let form = document.getElementById("myForm");
      //   // const formData = form.serializeArray();
      //   // console.log(formData);

      // }
      $(document).ready(function () {
        $("#addListingbutton").click(function () {
          var x = $("#myForm").serializeArray();
          var empData = JSON.stringify(x, null, 2);
         

          $.ajax({
            type: "POST",
            url: "/addListing/<%=email%>",
            
            
            data: x,
            success: function(response){
        //if request if made successfully then the response represent the data
             console.log("here");
             alert("done listing");
             location.href="/page-user/<%=email%>";
                },
                // vvv---- This is the new bit
  error:   function(jqXHR, textStatus, errorThrown) {
        console.log("Error, status = " + textStatus + ", " +
              "error thrown: " + errorThrown+ ", "+jqXHR
        );
        console.log(jqXHR);
        
        alert(jqXHR.responseText);
  }
          });

          // $.each(x, function (i, field) {
          //   console.log(field.name + ":" + field.value + " ");
          // });
        });
      });
    </script>

    <!-- number of addlisting left -->
    <script>
      let xml = new XMLHttpRequest();
      xml.open("get", "/numberOfAddListing/<%=email%>", true);
      xml.send();
      xml.onload = function () {
        console.log(xml.responseText);
        document.getElementById("listingLeft").innerHTML =
          "Listing Left: " + xml.responseText;
      };
    </script>

    <!-- get gallery in footer -->
    <script>
      let gallery = new XMLHttpRequest();
      gallery.open("get", "/getGallery", true);
      gallery.send();
      gallery.onload = function () {
        let galleryJson = JSON.parse(gallery.responseText);
        for (let i in galleryJson) {
          console.log(galleryJson[i]);
          let footerGal = `<li>
                    <div class="thumb">
                      <a href="#" class="effect">
                        <img src="/images/uploaded_images/${galleryJson[i].photo}" alt="image" />
                      </a>
                    </div>
                  </li>`;
          document.getElementById("footerGallery").innerHTML += footerGal;
        }
      };
    </script>
    <script>
      (function () {
        makeRequest();
        function makeRequest() {
          var httpRequest = new XMLHttpRequest(); // Initiatlization of XMLHttpRequest
          if (!httpRequest) {
            alert(" Cannot create an XMLHTTP instance");
            return false;
          }
          httpRequest.onreadystatechange = function () {
            // ready state event, will be executed once the server send back the data
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
              if (httpRequest.status === 200) {
                document.getElementById("username").innerHTML =
                  httpRequest.responseText;
              } else {
                alert("There was a problem with the request.");
              }
            }
          };
          httpRequest.open("GET", "/username"); // service call
          httpRequest.send();
        }
      })();
    </script>
  </body>
</html>
